.countdown {
  width: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .timeFraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 8rem;
      margin: 0;
      padding: 0;
    }

    span {
      font-size: $font-size-xl;
    }

  }
}