$tile-min-height: 20vh;

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    min-height: $tile-min-height;
    max-width: 320px;
    border-radius: 10px;
    background-color: $mine-shaft;
    overflow: hidden;

    .miniature {
        width: 100%;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 80%;        
        }
    }

    .caption {
        padding: 0.5rem 0.75rem;
        display: flex;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
        font-size: $font-size-base;
    }

    a {
        text-decoration: none;
        color: $alto;
        width: 100%;

        &:hover {
            color: $curious-blue;
        }
    }

    
}
  