.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    height: 20vh;
    max-width: 320px;
    border-radius: 10px;
    background-color: palevioletred;
}
  